<mat-card class="mb-3">
  <div *ngIf="!isEdit" class="d-flex justify-content-between">

    <h1>{{item.name}} 
        <span *ngIf="item.completed" class="badge badge-small badge-success">Completed!</span>
        <span *ngIf="!item.completed" class="badge badge-small badge-danger">Not completed</span>
    </h1>

    <button mat-icon-button color="light" (click)="deleteItem(item)">
      <mat-icon>delete</mat-icon>
    </button>

  </div>

  <mat-card-content>

    <div *ngIf="!isEdit">

      <h2>{{item.description}}</h2>

      <h3 *ngIf="item.due">Due on {{item.due | date}}</h3>
    </div>

    <div class="d-flex flex-column" *ngIf="isEdit">

      <mat-form-field>
        <input [(ngModel)]="item.name" name="name" matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="item.description" name="description" matInput placeholder="Description">
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="item.due" placeholder="Due Date" name="due" matInput [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>


      <mat-slide-toggle [(ngModel)]="item.completed" [color]="accent">
        Completed
      </mat-slide-toggle>

    </div>


  </mat-card-content>


  <div class="d-flex justify-content-between">

    <button *ngIf="!isEdit && item.id" (click)="toggleEdit()" mat-button color="primary">Edit</button>
    <button *ngIf="isEdit && item.id" (click)="saveChanges(item)" mat-raised-button color="primary">Save changes</button>
    <button *ngIf="isEdit && !item.id" (click)="saveChanges(item)" mat-raised-button mat-dialog-close color="primary">Add new Todo</button>

  </div>


</mat-card>